{{#unless hideSources}}
	{{> member.sources}}
{{/unless}}

{{> comment}}

{{#if typeParameters}}
	<h4 class="tsd-type-parameters-title">Type parameters</h4>
	{{> typeParameters}}
{{/if}}

{{#if parameters}}
	<h4 class="tsd-parameters-title">Parameters</h4>
	<div class="htsd-parameters">
		{{#each parameters}}
			<span class="htsd-name">
				{{#if flags.isRest}}<span class="tsd-signature-symbol">...</span>{{/if}}
				{{name}}:&nbsp;
			</span>
			<span class="htsd-type">
				{{#with type}}{{>type}}{{/with}}
				{{#if defaultValue}}
					<span class="tsd-signature-symbol">
						&nbsp;=&nbsp;
						{{defaultValue}}
					</span>
				{{/if}}
			</span>
			<span class="htsd-comment">
				{{> comment}}
			</span>
			{{#if type.declaration}}
				<span class="htsd-subtype">
					{{#with type.declaration}}
						{{> parameter}}
					{{/with}}
				</span>
			{{/if}}
		{{/each}}
	</div>
{{/if}}

{{#if type}}
	{{#ifCond type.name '==' 'void' }}
	{{else}}
		<h4 class="tsd-returns-title">Returns {{#with type}}{{>type}}{{/with}}</h4>
	{{/ifCond}}

	{{#if comment.returns}}
		{{#markdown}}{{{comment.returns}}}{{/markdown}}
	{{/if}}

	{{#if type.declaration}}
		{{#with type.declaration}}
			{{> parameter}}
		{{/with}}
	{{/if}}
{{/if}}
